@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  background: #a0ffed;
  color: #111;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}